@import "../../css-config/mixins.scss";
.product-card {
  cursor: pointer;
  margin-bottom: 20px;
  max-width: calc(25% - 15px);
  @include md {
    max-width: calc(50% - 5px);
  }
  

    .thumbnail {
      max-width: 336px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      height: auto;
      position: relative;
      overflow: hidden;
  
      img {
       
        height: auto;
        max-width: 100%;
        transition: 0.3s all ease-in-out;

        &:hover{
          transform: scale(1.2);
        }
      }
    }
  
  .prod-details {
    .name {
        color: black;
        font-weight: 500;
      font-size: 14px;
      display: block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      @include md {
        font-size: 16px;
      }
    }
    .price-cont {
        display: flex;
        gap: 8px;
        font-weight: 500;
      .price {
        color: black;
        font-size: 14px;
        @include sm {
          font-size: 12px;
        }
      }
      .original-price {
        text-decoration: line-through;
        color: rgb(157, 157, 157);
       
      }
    }
  }
 
  }
  .fav-icon{
    position: absolute;
    top: 5px;
    right: 10px;
   
  }
  .favorite-icon-clicked {
    transition: transform 0.2s ease-in-out;
    transform: scale(1);
  }

  
  
  .out-of-stock{
    background-color:rgba(255, 255, 255, 0.143);
  }

